.wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.wrapper-title {
  font-weight: 800;
  color: #3e155d;
  text-transform: uppercase;
}

.add-btn {
  width: 32px;
  height: 32px;
}
