@value colors: '../../styles/variables/colors.css';
@value mainColor, accentColor, activeBtnColor from colors;

.contactItem {
  margin-bottom: 10px;

  font-size: 22px;
  font-weight: 600;
  color: mainColor;
}

.contactWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button:hover,
.button:focus {
  background-color: accentColor;
}

.button:active {
  background-color: activeBtnColor;
}
